/* CSS Resets */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
/* Fonts */
@font-face {
    font-family: 'Black Chancery';
    src: url('./assets/black-chancery.TTF');
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/karla.ttf');
}
/* Variables */
:root {
    font-size: 62.5%;
    --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-logo: 'Black Chancery', var(--font-stack);
    --font-main: 'Karla', var(--font-stack);
}

:root.light {
    --bg-foreground: #FFFFFF;
    --bg-background: #E2E8F0;
    --text-main: #151515;
    --text-fade: #686868;
}

:root.dark {
    --bg-foreground: #121212;
    --bg-background: #1D1D1D;
    --text-main: #E6E6E6;
    --text-fade: #9C9C9C;
}
