/* CSS Resets */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    aspect-ratio: 1;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
/* Fonts */
@font-face {
    font-family: 'Black Chancery';
    src: url('./assets/fonts/black-chancery.TTF');
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/fonts/karla.ttf');
    font-display: swap;
}
/* Variables */
:root.light {
    --bg-foreground: #FFFFFF;
    --bg-background: #E2E8F0;
    --text-main: #151515;
    --text-fade: #686868;
    --icon-selected: #151515;
    --icon-fade: #9C9C9C;
    --input-focus: #151515;
    --green-positive: #3AB549;
}

:root.dark {
    --bg-foreground: #121212;
    --bg-background: #1D1D1D;
    --text-main: #E6E6E6;
    --text-fade: #9C9C9C;
    --icon-selected: #73313C;
    --icon-fade: #686868;
    --input-focus: #73313C;
    --green-positive: #3AB549;
}

:root {
    font-size: 62.5%;
    --font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-logo: 'Black Chancery', var(--font-stack);
    --font-main: 'Karla', var(--font-stack);
    --font-xlg: 3rem;
    --font-lg: 2.4rem;
    --font-md: 1.6rem;
    --font-bold: 900;
    --logo-width: 70px;
    --icon-width: 32px;
    --icon-width-sm: 24px;
    --padding-lg: 3em;
    --padding-md: 2em;
    --padding-sm: 1em;
    --padding-xs: .5em;
    --margin-lg: 3em;
    --margin-md: 2em;
    --margin-sm: 1em;
    --border-radius: 10px;
    --button-size: 50px;
}
/* Utilities */
.logo {
    width: var(--logo-width);
    margin: var(--margin-sm);
    margin-bottom: var(--margin-lg);
}

.icon {
    width: var(--icon-width);
    cursor: pointer;
}

.icon-small {
    width: var(--icon-width-sm);
}

.large-btn {
    height: var(--button-size);
    background: var(--bg-foreground);
    border: none;
    border-radius: var(--border-radius);
    aspect-ratio: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-inactive {
    display: none;
}
/* Layout */
body {
    font-family: var(--font-main);
    height: 100svh;
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;
}

main {
    min-height: 0;
    padding: var(--padding-lg);
    background: var(--bg-background);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: var(--margin-md);
}
/* Aside */
aside {
    display: grid;
    grid-template-rows: auto 1fr;
    background: var(--bg-foreground);
    padding: var(--padding-sm);
}

.aside-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}
/* Main Content */
/* User Search */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-tab {
    font-family: var(--font-logo);
    font-size: var(--font-xlg);
    font-weight: var(--font-bold);
    color: var(--text-main);
    letter-spacing: 1px;
}

.controls {
    width: 60%;
    display: flex;
    gap: var(--padding-sm);
}

.search-field {
    width: 100%;
    background: var(--bg-foreground);
    border-radius: var(--border-radius);
    display: flex;
    gap: var(--padding-sm);
    padding: var(--padding-sm);
}

.search-field:focus-within {
    border: 1px solid var(--input-focus);
}

input {
    width: 100%;
    font-size: var(--font-md);
    background: var(--bg-foreground);
    color: var(--text-fade);
    border: none;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-style: italic;
}
/* Sections */
/* User Panel */
.user-menu {
    display: flex;
    gap: var(--margin-md);
}

#notif-relative {
    position: relative;
}

.badge {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 13px;
    aspect-ratio: 1;
    background: crimson;
    font-size: .9rem;
    font-weight: 700;
    line-height: 0;
    color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-user {
    width: 100%;
    background: var(--bg-foreground);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-sm);
}

.user {
    display: flex;
    align-items: center;
    gap: var(--padding-sm);
}

.user-text {
    font-size: var(--font-md);
    color: var(--text-fade);
}

.available {
    position: absolute;
    top: 65%;
    left: 60%;
    width: 10px;
    aspect-ratio: 1;
    background: green;
    border-radius: 100px;
}
/* User Stats */
.user-stats {
    display: flex;
    gap: var(--margin-md);
}

.stat {
    flex: 1;
    background: var(--bg-foreground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius);
}

.stat-head {
    display: flex;
    align-items: center;
    gap: var(--margin-md);
}

.user-stat {
    font-size: var(--font-lg);
    color: var(--text-fade);
    letter-spacing: -2px;
}

.stat-num {
    font-size: var(--font-xlg);
    color: var(--text-main);
    line-height: 0;
}

.read {
    color: var(--green-positive);
}

.unread {
    color: crimson;
}
